# ----------------------
# Flask
# ----------------------
flask==0.7.2
flask-wtf==0.5.2

# ----------------------
# Testing
# ----------------------
mock

# ----------------------
# Production Environment
# ----------------------
# gevent
